<ion-header>
  <ion-toolbar>
    <ion-title>tarapoto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card><ion-button color="danger" size="small" (click)="atras()"><ion-icon name="rewind"></ion-icon></ion-button>
        <ion-card-header class="text-center">
          <ion-card-title>UPeU Tarapoto</ion-card-title><br>
          <ion-img src="../../../assets/images/tarapoto1.jpg"></ion-img>
        </ion-card-header>
      
        <ion-card-content class="texto">
          “La UPeU en concordancia con su naturalez
          a jurídica y marco filosófico y axiológico
          institucional pone a consideración de la
          comunidad universitaria y la sociedad peruana,
          información correspondiente a diversos
          aspectos de la vida universitaria”. 
        </ion-card-content>
      </ion-card>
      <ion-card>
          <ion-card-header class="text-center">
            <ion-card-title>UPeU Tarapoto</ion-card-title><br>
            <ion-img src="../../../assets/images/tarapoto1.jpg"></ion-img>
          </ion-card-header>
        
          <ion-card-content class="texto">
            “La UPeU en concordancia con su naturalez
            a jurídica y marco filosófico y axiológico
            institucional pone a consideración de la
            comunidad universitaria y la sociedad peruana,
            información correspondiente a diversos
            aspectos de la vida universitaria”. 
          </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header class="text-center">
              <ion-card-title>UPeU Tarapoto</ion-card-title><br>
              <ion-img src="../../../assets/images/tarapoto1.jpg"></ion-img>
            </ion-card-header>
          
            <ion-card-content class="texto">
              “La UPeU en concordancia con su naturalez
              a jurídica y marco filosófico y axiológico
              institucional pone a consideración de la
              comunidad universitaria y la sociedad peruana,
              información correspondiente a diversos
              aspectos de la vida universitaria”. 
            </ion-card-content>
          </ion-card>
          <ion-button color="danger" size="small" (click)="mas()"><ion-icon name="share-alt"></ion-icon></ion-button>
</ion-content>
