<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<!-- Default Input -->
<ion-item>
  <ion-label position="floating">Usuario</ion-label>
  <ion-input></ion-input>
</ion-item>

<ion-item>
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input></ion-input>
</ion-item>
<div class="text-center">
<ion-button class="te" color="primary" >Ingresar</ion-button>
</div>
<h3>Raised Buttons</h3>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
</ion-content>
<ion-content padding>
<img *ngIf="img" [src]="img" alt="">
<ion-button (click)="tirarFoto()">Tomar</ion-button>
  </ion-content>