
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Universidad Peruana Union
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="container">
<ion-card>
  <ion-card-header class="text-center">
    <ion-card-title>UPeU Juliaca</ion-card-title><br>
    <ion-img src="../assets/images/juliaca.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content class="texto">
    “La UPeU en concordancia con su naturalez
    a jurídica y marco filosófico y axiológico
    institucional pone a consideración de la
    comunidad universitaria y la sociedad peruana,
    información correspondiente a diversos
    aspectos de la vida universitaria”. 
  </ion-card-content>
  <ion-button color="secondary" size="small" (click)="ir()"><ion-icon name="eye"></ion-icon></ion-button>
</ion-card>
<ion-card>
  <ion-card-header class="text-center">
    <ion-card-title>UPeU Tarapoto</ion-card-title><br>
    <ion-img src="../../../assets/images/tarapoto1.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content class="texto">
    “La UPeU en concordancia con su naturalez
    a jurídica y marco filosófico y axiológico
    institucional pone a consideración de la
    comunidad universitaria y la sociedad peruana,
    información correspondiente a diversos
    aspectos de la vida universitaria”. 
  </ion-card-content>
  <ion-button color="secondary" size="small" (click)="ir()"><ion-icon name="eye"></ion-icon></ion-button>
</ion-card>
<ion-card>
  <ion-card-header class="text-center">
    <ion-card-title>UPeU Lima</ion-card-title><br>
    <ion-img src="../../assets/images/lima.jpg"></ion-img>
  </ion-card-header>

  <ion-card-content class="texto">
    “La UPeU en concordancia con su naturalez
    a jurídica y marco filosófico y axiológico
    institucional pone a consideración de la
    comunidad universitaria y la sociedad peruana,
    información correspondiente a diversos
    aspectos de la vida universitaria”. 
  </ion-card-content>
  <ion-button color="secondary" size="small" (click)="ir()"><ion-icon name="eye"></ion-icon></ion-button>
  
</ion-card>
<button  type="button" class="btn btn-primary" (click)="ionVios()"
        tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
  Simple demo
</button>
</ion-content>
<!--<ion-content>
   <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list>
 
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
 
</ion-content> -->

<section>
  <div class="c1"></div>
  <div class="c2"></div>
  <div class="c3"></div>
  <div class="c4"></div>
</section>
<section>
  <!--<h1>JelliBeans</h1>-->
</section>
